  * {
    margin: 0;
    padding: 0;
position:relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 80%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(1, 0, 0);
  }
 
  li {
    display:inline-block;
  }
  
  ul .category{
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    
  }

  li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 14px 16px;
    display: block;
   font-size: 20px;
    
 }
      
  li a:hover{
    background-color: #61b3bc;
    color: rgb(255, 255, 255); 
}
.img:hover{
  background-color: #000000;

}
.return:hover{
  background-color: #000000;
}

.logo {
   float: left;
   height: 10px;
   margin: 0;
   padding: 0 0;
   margin-left: 0;
}

.img{
width : 113px;   
height:63px;
display:flex;
top: 0;
margin: 0;
padding: 0 0;
position: absolute;
}

.return {
    float: right;
    font-size: 27px;
    padding: 0 0;
    width: 80px;
    height:20px;
}