
.card{
    width: 20rem;
    margin: 10px;
    padding: 2px;
    background-color: #fff;
    float: left;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}


.card-img-top{
    height: 20rem;
    width: 15rem;
    padding-top: 10px;
    border-radius: 10px;
}

.card-title{
    color:#000000;
}
#b2 {
    background-color: rgba(12, 10, 10, 0.584);
 border-radius:30px ;
 align-items: center;
 color: #fff;

}
.text2{
    color: #fff;
    
}
#b2:hover{
    box-shadow:5px 10px 20px 1px rgba !important;
    background-color:white;
}
.text2:hover{
    color: #000000;
}