img,svg {
  vertical-align: middle;
  width: 85px;
}

.navbar {
  background-color: #161b22;
  font-family: "Roboto", sans-serif;
  padding: 0 0;
  margin: 0;
}

.navbar .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
 
}

.navbar .navbar-nav .nav-link:hover {
  color: #d4d4d4;
}

.navbar .navbar-toggler {
  width: 60px;
  font-size: 25px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);

}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.input-group {
  width: 400px;
  height: 35px;
}

#item:focus {
  color:#F6DE60;
}

#SearchIcon{
  border: none;
  background-color: #ffffff;
}
#Search{
  border: none;
  outline: none;
}