.navbar {
  background-color: #161b22;
  font-family: "Roboto", sans-serif;
  padding: 0 0;
  margin: 0;
}

.navbar .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
 
}

.navbar .navbar-nav .nav-link:hover {
  color: #d4d4d4;
}

.navbar .navbar-toggler {
  width: 60px;
  font-size: 25px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);

}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

img,svg {
  vertical-align: middle;
  width: 85px;
}

#InputGroup {
  width: 400px;
  height: 38px;
}

#item:focus {
  color:#F6DE60;
}

#SearchIcon{
  border: none;
  color: rgb(183, 183, 183);
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#Search{
  border: none;
  text-align: left;
  font-size: 18px;
  padding: 0px 8px ;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.return{
  border: none;
  background-color: #161b22;
  color:#161b22;
  font-size: 30px;
  margin-right: -90px;
}

#logout{
  color:#ffffff;
}