.table-admin {
    margin: 2px;
    color:#000;
    border: 1px solid #fff;
    font-size: 20px;
    border-collapse: collapse;
    display: flex;
   flex-direction:column;
   gap: 20px;
   padding: 2rem;
   text-align:center;
   width: 100%;
 background-color:#eeeeee;
 
 }
 
 
 .head{
     text-align: center;
     width: 100%;
 }
 table, td , tr,th{ border:1px solid rgb(93, 92, 92);
     border-collapse: collapse ;
     text-align:center;
     margin-left: auto;
     margin-right: auto;
 
 
 }
 th{
     padding: 8px;
     color: #000;
     background-color: #add3f5;
 }
 
   button {
   background-color: #4c7bcc; /* Green */
   border-radius: 10px;
   border:none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin: 12px;
   width: 100px;
 
 }
 
 form {
     display: inline-block;
       gap: 3px;
       
       
 }
 
 form td:last-child {
   display: flex;
   justify-content: space-evenly;
 }
 button:hover{
     box-shadow: 5px 10px 20px 1px rgba(96, 155, 243, 0.363)!important;
 }
  
 h4{
     color:#5c5a5a;
 }