#card-sale{
    width: 340px;
    height: 450px;
    margin: 7px;
    background-color: #fff;
    zoom: 71%;
    float: left;
    border: none;
}
#card-sale:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}
.pre-price{
    font-size: 15px;
    color:rgb(98, 98, 98);
}

#quantity-sale{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 16px;
}

#card-text-sale{
    text-align: center;
    color:rgb(0, 0, 0);
    
}
#card-img-top-sale{
    height:18rem;
    width:100%;
}
#card-body-sale {
background-color: rgba(0, 0, 0, 0.043);

}
#card-title-sale{
    color: #000000;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
#b3{
    margin-top: 10px;
    color: #ffffff;
    border-radius: 21px;
    background-color: rgb(73, 73, 73);
    border: none;
    font-size: 21px;  
    width: 40%;
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
}

#b3:hover{
    box-shadow:5px 10px 20px 1px rgba !important;
    background-color: rgba(0, 0, 0, 0);
    color:#333;
}