.card{
    width: 20rem;
    margin: 10px;
    padding: 2px;
    background-color: #fff;
    float: left;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}
.card-img-top{
    height: 20rem;
    width: 15rem;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 50px;
}
.card-title{
    color: #fffbfb;
    text-align: center;
}
button{
    margin-top: 10px;

    border-radius: 10px ;
    background-color: #000000;
    font-size: 25px;
    width: 40%;
    padding: 1%;
}