
.card{
    width: 20rem;
    margin: 10px;
    padding: 2px;
    background-color: #fff;

}


.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}
.card-img{
    height: 20rem;
    width: 15rem;
    padding-top: 10px;
    border-radius: 10px;
align-items: center;
  
}
.card-body{
    align-items: center;
}

.card-title{
    color: #000000;
    text-align: center;
}

#b1 {
    background-color:#333;
 border-radius:15px ;
 align-items: center;
 color: #fff;

}
.text{
    color: #fff;
    
}
#b1:hover{
    box-shadow:5px 10px 20px 1px rgba !important;
    background-color:white;
}
.text:hover{
    color: #000000;
}
