body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
;
}
.card{
    width:50ram;
   
}
.card:hover{
    box-shadow:5px 10px 20px 1px rgb(0,0,0,0.253)!important;
}
.card-body{
    padding: 2rem 0 !important;

}
button{
    border: none;

}
