.card{
    width: 249px;
    height: 450px;
    margin: 7px;
    background-color: #fff;
    float: left;
    border: none;
    
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}
.price{
    text-align: center;
    font-size: 23px;
    color:rgb(255, 247, 195);
}
.quantity{
    text-align: center;
    color:rgb(43, 43, 43);
}

.card-img-top{
    height:18rem;
    width:100%;
}
.card-body {
background-color: rgb(190, 190, 190);
}
.card-title{
    color: #000000;
    text-align: center;
    font-size: 18px;
   
}
#b3{
    margin-top: 10px;
    color: #f4f8f8;
    border-radius: 90px ;
    background-color: rgb(73, 73, 73);
    border: none;
    font-size: 21px;
    width: 50%;
    padding: 2%;
   
}
#b3:hover{
    box-shadow:5px 10px 20px 1px rgba !important;
    background-color:rgb(55, 55, 55);
}