.card{
    width: 255.2px;
    height: 427px;
    margin: 7px;
    background-color:  rgb(255, 255, 255);
    float: left;
    border:none;
   
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}

.card-img-top{
    top: 0;
    height:20rem;
    width:100%;
  }
.card-body{
    background-color: rgb(202, 202, 202);
}
.card-title{
    color:#000000;
font-family: 'Times New Roman', Times, serif;
}
#b3 {
background-color:  #333;
 border-radius: 21px ;
 align-items: center;
text-decoration: none;

}
.text3{
color: rgb(175, 175, 175);
text-decoration: none;
    
}
.text3:hover{
    color: #ffffff;
}

.ClickImage{
    border :none;
    background-color: rgb(255, 255, 255);
}