
.card{
    width: 20rem;
    margin: 10px;
    padding: 2px;
    background-color: #fff;
    float: left;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}


.quantity{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card-img-top{
    top: 0;
    height:20rem;
    width:100%;
}

.card-title{
    color: #000000;
    text-align: center;
}
#b3{
    margin-top: 10px;
    color: #f8f4f8;
    border-radius: 10px ;
    background-color: #333;
    font-size: 25px;
    width: 40%;
    padding: 1%;
}
#b3:hover{
    box-shadow:5px 10px 20px 1px rgba !important;
    background-color:white;
}
.text3:hover{
    color: #000000;
    text-align: center;
}