#card-category{
    width: 302px;
    height: 390px;
    margin: 7px;
    zoom: 81%;
    background-color:  rgb(255, 255, 255);
    float: left;
    border:none;
   
}
#card-category:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.586)!important;
}

#card-img-top-category{
    top: 0;
    height:20rem;
    width:100%;
  }
#card-body-category{
    background-color: rgb(202, 202, 202);
}
#card-title-category{
    color:#000000;
font-family: 'Times New Roman', Times, serif;
}
.ClickImage{
    border :none;
    background-color: rgb(255, 255, 255);
}