/** {
    text-align: center;

}

.container {
    margin-top: 200px;

    margin-left: 400px;
}

.input_space {
    margin-bottom: 15px;
}

input {
    font-size: 20px;
    font-weight: 900;
}

button {
    height: 35px;
    width: 50%;
    background-color: rgb(128, 128, 128);
    border: none;
}

.logout {
    height: 35px;
    width: 50%;
    border: none;
}

.delete {
    margin-right: 5px;
    color: white;

    font-weight: 400;
}*/