
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    height: 69px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 190, 190);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
    
}

.btn {
    border: none;
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
    padding: 0 0;
    margin: 0;
    font-size: 30px;
    cursor: pointer;
}

.return{
    float: right;
}

.logo{
    margin-left: 40%;
}
.img{
    
    width : 100px;
    
    height: 52.5px;
     
    
}